body {
    margin: 0;
    padding: 0;
	font-family: "Yusei Magic";
	background-color:#fee7e8;
}
h {
	font-size:50px;
	color: white;
}
.main-layout {
	display: flex;
	height:100vh
}


.sidebar {
	display: flex;
	background-color:#faaaae;
	justify-content:left;
	flex-direction:column;
	height:100vh;
	width:200px;
	margin-right:5px;
	z-index:1;
	
}
.sidebar > div img{
	width: 120px;
	height: 120px;
	object-fit: contain;
	display:block;

}
	

.sidebar > div {	/* text */
	background-color:white;
	margin:25px;
	font-size:25px;
	border: 2px solid white;
}

.sidebar > div:first-child {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sidebar >div:hover {
	background-color:pink
}

.container {
    margin: auto;
    border: 5px solid #faaaae;
    padding: 15px;
    display: flex;
    align-items: center; 
	padding-right: 100px

}



.vertical-divider {
    width: 2px;
    height: 80px;
    background-color: #faaaae;
    margin: 0 32px; 
    align-self: center; 
    display: block;
}

.list-item > img{
    width: 80px;
    height: 80px;
    object-fit: cover; 
}

.list-item {
	display:flex;
	align-items: center;
	gap: 12px;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 10px 5px 5px;
}

.list-item:hover {
    background-color: #f8878c; 
    cursor: pointer;
	color:white;
}


/* link colours */

a:link {
  color: #ff9999;
}

a:visited {
  color: #666699;
}

a:hover {
  color: hotpink;
}

a:active {
  color: #cc33ff;
}

.list {
    align-self: flex-start;
}

.focus > img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    display: block;
}

#focus-title, #focus-desc {
    color: #faaaae
}

